html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	font-family: 'Roboto', sans-serif;
    line-height: 1;
	font-size: 0.9rem;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.container{
	display: flex;
	justify-content: center;
}
.fundo{
	border-radius: 4px;
	margin-top: 30px;
	background: #1380A9;
	width:90%;
}

ul{
	display: grid;
    grid-template-columns: repeat(8, 1fr);
	text-align: center;
	list-style: none;
}

li{
	
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid white;
	cursor: pointer;
	color: #fff;
	transition: background-color 200ms ease;
	padding: 12px 0px;
}

li:hover{
	color: #1380A9;
	background-color: white;
}